<%= form_for(@pin, multipart: true) do |f| %>
<%= render 'shared/pin_error_messages' %>

  <div class="form-group">
    <%= f.hidden_field :user_id, value: current_user.id %>
    <p>
      <label for="pin_title">Title</label><br />
      <%= f.text_field :title %>
    </p>

    <p class="p-select">
      <label for="pin_category_id">Category</label>
      <%= f.collection_select(:category_id, Category.all, :id, :name) %>
    </p>

    <p>
      <label for="pin_slug">Slug</label><br />
      <%= f.text_field :slug %>
    </p>

    <p>
      <label for="pin_url">URL</label><br />
      <%= f.text_field :url %>
    </p>

    <p>
      <label for="pin_text">Text</label><br />
      <%= f.text_area :text %>
    </p>

    <p class="form-group">
      <label for="pin_image">Image</label><br />
      <%= f.file_field :image  %>
    </p>

    <%= f.fields_for :pinning do |p| %>
      <div class="form-group">
        <label>Which board?</label>
        <%= p.collection_select(:board_id, current_user.boards, :id, :name, {}, {class: "form-control"}) %>
        <%= p.hidden_field :user_id, value: current_user.id %>
    <% end %>

    <p class="submit-button">
      <%= f.submit "Submit", class: "btn btn-primary" %>
    </p>
  </div>
<% end %>
