<div class="header">
  <h1>
    <i class="fa fa-laptop"></i>
    <%= "#{@pin.title}" %>
  </h1>
</div>

<div class="show-pin">

  <% if !(@pin.image.url).nil? %>
    <img src="<%= @pin.image.url(:medium) %>">
  <% else %>
  <% end %>

  <p><%= "#{@pin.text}" %></p>

  <hr/>
  <p>
    <b>Visit <%= "#{@pin.title}" %> at: </b>
    <%= link_to "#{@pin.url}", @pin.url, html_options = {target: "_blank", class: "url"} %>
  </p>
</div>
<br/>
<%= render partial: "shared/repin_form", locals: {pin: @pin} %>  
<br/>
<hr/>
<h3>All users who have pinned this</h3>
<% if @users %>
  <% @users.each do |user| %>
    <h5><%= user.first_name %> <%= user.last_name %></h5>
  <% end %>
<% else %>
  <h5>No one has pinned this yet.</h5>
<% end %>
<br/>
<hr/>
<a href="/">
  <i class="fa fa-hand-o-left"></i>
  Back to Home
</a>
<a href= <%= "#{edit_pin_path(@pin)}" %> >
  <i class="fa fa-hand-o-right"></i>
  Edit Pin
</a>
